<IfModule mod_rewrite.c>
  Options +FollowSymlinks -Indexes -MultiViews
  RewriteEngine On
  RewriteRule cache/(.*) - [F]
  RewriteCond %{REQUEST_FILENAME} !-d
  RewriteCond %{REQUEST_FILENAME} !-f
  RewriteRule ^(.*)$ index.php/$1 [QSA,PT,L]
</IfModule>

#Image and Flash content Caching for One Month
<IfModule mod_deflate.c>
<FilesMatch ".(flv|gif|jpg|jpeg|png|ico|swf|js|css|php|html|htm|xml)$">
Header set Cache-Control "max-age=2592000"
</FilesMatch>
</IfModule>

## Enables gzip compression 
<IfModule mod_deflate.c> 
AddOutputFilterByType DEFLATE text/text text/html text/plain text/xml text/css application/x-javascript application/javascript 
SetEnvIfNoCase Request_URI .(?:exe|t?gz|zip|iso|tar|bz2|sit|rar|png|jpg|gif|jpeg|flv|swf)$ no-gzip dont-vary 
BrowserMatch ^Mozilla/4 gzip-only-text/html 
BrowserMatch ^Mozilla/4\.[0678] no-gzip 
BrowserMatch \bMSIE !no-gzip !gzip-only-text/html 
Header append Vary User-Agent env=!dont-vary 
</IfModule>